%footer
  .container
    .footer-about
      = image_tag "logo-footer.svg", alt: "Original Fuzz"
      %p Better gear for guitar players. We bring quality design and craftsmanship to the accessories guitar players depend on. Backed by a lifetime guarantee.
      %p Copyright &copy; #{Time.now.year} Original Fuzz.
    .footer-products
      %h4 Our Products
      %ul
        %li= link_to "Peruvian Straps", "/products/peruvian-straps"
        %li= link_to "Solid Straps", "/products/solid-straps"
        %li= link_to "Cables", "/products/cables"
        %li= link_to "Fuzz Bag", "/products/fuzz-bag"
    .footer-company
      %h4 Our Company
      %ul
        %li= link_to "About", "/about"
        %li= link_to "Contact", "/contact"
        %li= link_to "Where To Find Us", "/where-to-find-us"
        %li= link_to "Our Blog", "/blogs/fuzz"
        %li= link_to "Press", "/press"
      .footer-dealers
        %h4 Dealers
        %ul
          %li= link_to "Place an Order", "/place-an-order"
          %li= link_to "Become a Dealer", "/become-a-dealer"
          %li= link_to "Dealer Login", "http://www.lettuceapps.com/originalfuzz"
    .footer-customer-service
      %h4 Customer Service
      %ul
        %li= link_to "Help", "https://originalfuzz.zendesk.com/hc/en-us"
        %li= link_to "Submit a Request", "https://originalfuzz.zendesk.com/hc/en-us/requests/new"
        %li= link_to "Give Us Feedback", "https://originalfuzz.wufoo.com/forms/customer-feedback/"
        %li= link_to "Lifetime Guarantee", "https://originalfuzz.zendesk.com/hc/en-us/articles/200745386-Lifetime-Guarantee"
        %li= link_to "Shipping & Returns", "https://originalfuzz.zendesk.com/hc/en-us/articles/200720747-Shipping-Returns"
        %li= link_to "FAQ", "https://originalfuzz.zendesk.com/hc/en-us/sections/200197896-FAQ"
        %li= link_to "Privacy Policy", "https://originalfuzz.zendesk.com/hc/en-us/articles/200723207-Privacy-Policy"
        %li= link_to "Terms of Use", "https://originalfuzz.zendesk.com/hc/en-us/articles/200943443-Terms-of-Use"
    .footer-social
      %h4 Follow Us
      %ul.social
        %li= link_to "Facebook", "http://www.facebook.com/originalfuzz"
        %li= link_to "Twitter", "http://twitter.com/original_fuzz"
        %li= link_to "Instagram", "http://instagram.com/originalfuzz"
        %li= link_to "Vimeo", "http://vimeo.com/originalfuzz"
        %li= link_to "Google+", "http://plus.google.com/101277587683541567500"
        %li= link_to "Email", "http://eepurl.com/dGv12"
  /.container
  /  .footer-bands
  /    %h4 Bands
  /    %ul
  /      %li= link_to "Built to Spill", "/bands/built-to-spill"
  /      %li= link_to "Frightened Rabbit", "/bands/frightened-rabbit"
  /      %li= link_to "Kurt Vile", "/bands/kurt-vile"
  /      %li= link_to "This Frontier Needs Heroes", "/bands/this-frontier-needs-heroes"
  /  .footer-credibility
  /    %ul
  /      %li= link_to "[NAMM Logo Here]", "http://www.namm.org"
  /      %li= link_to "[Secure Shopping With Stripe Logo Here]", "https://stripe.com/us/features#seamless-security"
  
= render "shared/tracking_codes"
= javascript_include_tag "foundation.min"
= javascript_include_tag "foundation.interchange"
:javascript
  $j(document).foundation();
:javascript
  var _emv = _emv || [];
  _emv['campaign'] = '5318b223809c91abf9000005';

  (function() {
      var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
      em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.app.exitmonitor.com/em.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
  })();
  
  
