%header.navbar-default.navbar-fixed-top{"role"=>"navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type:"button","data-toggle"=>"collapse","data-target"=>".navbar-ex1-collapse"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "/", class: "navbar-brand" do
        = image_tag "logo.svg", alt: "Original Fuzz"
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li= link_to "Peruvian Straps", "/products/peruvian-straps"
        %li= link_to "Solid Straps", "/products/solid-straps"
        %li= link_to "Cables", "/products/cables"
        %li= link_to "Fuzz Bag", "/products/fuzz-bag"
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Where To Find Us", "/where-to-find-us"
        %li= link_to "About", "/about"
        %li= link_to "Contact", "/contact"