- content_for :title, "Instrument & Mic Cables | Original Fuzz"

%section.product-header.cable
  .overlay{style:"background-image: url(#{asset_path('products/cables/header.png')});"}
    .container
      .product-header-title
        %h1 Cables
        .callouts
          High Fidelity • Balanced • Japanese Cabling • Retro Connectors
        %p True to your tone. Our cables use high-quality, Japanese cabling with retro connectors. Their perfectly balanced frequency response delivers shimmering highs and earth-shaking lows that stay true to your tone. Like all of our products, each cable comes with a lifetime guarantee.
        %h1 $55
        %p= link_to "Choose Style", "#bags", class: "btn btn-primary"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/cables/1.jpg")}, (default)], [#{image_path("products/cables/1-640.jpg")}, (small)]", alt: "Cables"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/cables/2.jpg")}, (default)], [#{image_path("products/cables/2-640.jpg")}, (small)]", alt: "Cables"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/cables/3.jpg")}, (default)], [#{image_path("products/cables/3-640.jpg")}, (small)]", alt: "Cables"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/cables/4.jpg")}, (default)], [#{image_path("products/cables/4-640.jpg")}, (small)]", alt: "Cables"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/cables/5.jpg")}, (default)], [#{image_path("products/cables/5-640.jpg")}, (small)]", alt: "Cables"}

%section.product-points
  .container
    .product-point
      .product-point-info
        %h3 Made in the USA
        %p Our cables are assembled in Warner Robbins, GA. We source the best components from around the world, but the magic happens right in our backyard. Each cable is built to last with time-tested American manufacturing processes.
    .product-point
      .product-point-info
        %h3 True to Your Tone
        %p Our cables use high-quality, Japanese copper cable with retro connectors. Their perfectly balanced frequency response delivers shimmering highs and earth-shaking lows. They come in practical lengths that stay true to your tone.
    .product-point
      .product-point-info
        %h3 Retro Connectors
        %p We're opinionated about the type of connector that we prefer. That's why we've chosen classic connectors that will look great on your vintage instrument. Details matter, and a lot of them got sorted out during the early days of rock and roll.
    .product-point
      .product-point-info
        %h3 Lifetime Guarantee
        %p We're confident in our top-quality components and assembly that's done right here in the USA, but if you have problems with one of our cables, just send it back and we'll either fix it or send you a replacement.

%section.product-header
  .container
    %h2 Cable Types
  .product-header-cable{style: "background-image: url(#{asset_path('products/cables/straight.png')});"}
    .container
      .info
        %h3 Straight
        %p We love this 50s-style connector. They are study, easy to grip and hold up over heavy use.
        %p 15' straight 1/4" instrument cable
        %h1 $55
        %p= link_to "Add To Cart", "http://he2.co/KB3E9S6I2I4", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FC-002"
  .product-header-cable{style: "background-image: url(#{asset_path('products/cables/mic.png')});"}
    .container
      .info
        %h3 XLR Mic
        %p We made it long enough to stretch across the room from your drum overheads to the mixer, yet not too long for use at a small gig or rehearsal space.
        %p 25' XLR microphone cable
        %h1 $55
        %p= link_to "Add To Cart", "http://he2.co/AW2A8O4M6A0", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FC-003"
  .product-header-cable{style: "background-image: url(#{asset_path('products/cables/right.png')});"}
    .container
      .info
        %h3 Right Angle
        %p The right angle connector is really useful in many situations. It's especially great if you like leaning your guitar against your amp.
        %p 15' right angle 1/4" instrument cable
        %h1 $55
        %p= link_to "Add To Cart", "http://he2.co/GA8M2K2G0M6", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FC-001"