- content_for :title, "The Fuzz Bag | Original Fuzz"

%section.product-header
  .container
    .product-header-title
      %h1 The Fuzz Bag
      %h2 $120
      %p Your guitar gear finally has a home. The Fuzz Bag is a place to keep all of your guitar tools. It's like a "camera bag" for guitar players that combines the comfortable aesthetic of a classic gym bag with a padded pedal case and custom pockets for everything else. It's road-tested by the musicians who designed it, and it's made with care.
      %p= link_to "Choose Style", "#choose", class: "btn btn-primary"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide= image_tag "products/fuzzbag/1.jpg"
      %li.slide= image_tag "products/fuzzbag/2.jpg"
      %li.slide= image_tag "products/fuzzbag/3.jpg"
      %li.slide= image_tag "products/fuzzbag/4.jpg"
      %li.slide= image_tag "products/fuzzbag/5.jpg"
      %li.slide= image_tag "products/fuzzbag/6.jpg"

%section.product-points
  .container
    .product-point
      .product-point-info
        %h3 Padded Pedal Case
        %p There's a zip compartment in the bottom of the bag that's perfect for zipping your pedals in snuggly. It's padded, so you don't have to worry about them if you put it down on a hard surface, and the waterproof lining keeps the electronics in your pedals safe.
    .product-point
      .product-point-info
        %h3 Custom Pockets
        %p The Fuzz Bag has custom pockets for picks, strings, and all the other gear that you need as a guitar player. It has special pockets for strings, picks, and pedals, and a zip pocket to hanlde all your odds-and-ends like tuners, mics, string winders, and batteries. 
    .product-point
      .product-point-info
        %h3 Waterproof Lining
        %p The Fuzz Bag has a sturdy 3-layer structure that keeps water out and everything inside dry. The middle layer is made of waterproof rip-stop nylon. So you don't have to worry if you get caught in the rain when you're loading out or running inside for a guitar lesson.
    .product-point
      .product-point-info
        %h3 Lifetime Guarantee
        %p This is a sturdy bag, and it's tested to hold up to abuse. That's why we offer a lifetime guarantee. If something breaks or wears out, send it back to us and we'll get it fixed or send you a new one. The classic gym bag aesthetic will keep you looking stylish for years to come.

%section#choose.product-colors
  = image_tag "http://placehold.it/1000x400"