- content_for :title, "Peruvian Guitar Straps | Original Fuzz"

%section.product-header
  .overlay{style:"background-image: url(#{asset_path('products/peruvian/header.png')});"}
    .container
      .product-header-title
        %h1 The Peruvian Strap
        .callouts
          Handwoven • Unique • Made In Peru
        %p This strap was handwoven in Peru according to fair trade guidelines. Each strap is as unique as the artisan that crafted it. Our strap feels great on your shoulder. We use tough leather and elegant, durable hardware. It's a new standard that complements any instrument.
        %h1 $85
        %p= link_to "Choose Style", "#peruvian-patterns", class: "btn btn-primary buy-now"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide= image_tag "products/peruvian/1.jpg"
      %li.slide= image_tag "products/peruvian/2.jpg"
      %li.slide= image_tag "products/peruvian/3.jpg"
      %li.slide= image_tag "products/peruvian/4.jpg"
      %li.slide= image_tag "products/peruvian/5.jpg"
      %li.slide= image_tag "products/peruvian/6.jpg"
      %li.slide= image_tag "products/peruvian/7.jpg"

%section.product-points
  .container
    .product-point
      .product-point-info
        %h3 Handwoven in Peru
        %p Each strap is handwoven by artisans in Peru. The artisans apply traditional weaving techniques that have been passed down for generations. Most of the artisans are women who work from home with their children playing nearby.
    .product-point
      .product-point-info
        %h3 Totally Unique
        %p Each guitar strap is as unique as the person that made it. We offer eleven patterns, but the patterns have slight variations due to the hand-crafted process. The personality of the artisan comes through making each strap one-of-a-kind.
    .product-point
      .product-point-info
        %h3 Sustainable &amp; Fair
        %p All of our straps are made according to fair trade guidelines. The artisans earn a living wage, have a safe working environment, and are not subject to workplace pollutants or toxins. And, of course, there is no child labor.
    .product-point
      .product-point-info
        %h3 Lifetime Guarantee
        %p This is the kind of strap you'll want to pass down to your kids. If it breaks or wears out from normal use, just send it back and we'll either fix it or replace it for you. Unless you cut it in half with scissors, this strap isn't going to break on you.

%section.product-variations#peruvian-patterns
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-dickdale.png')});"}
    .info
      %h3 Dick Dale
      %p= link_to "Buy Now", "http://he2.co/AK5H7B8U9E2", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"PS-001"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-kurt_vile.png')});"}
    .info
      %h3 Kurt Vile
      %p= link_to "Buy Now", "http://he2.co/VD7P0T4S7I4", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-002"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-doug_martsch.png')});"}
    .info
      %h3 Doug Martsch
      %p= link_to "Buy Now", "http://he2.co/QF4D6X6O3Q8", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-003"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-cusco.png')});"}
    .info
      %h3 Cusco
      %p= link_to "Buy Now", "http://he2.co/KF6B8L0Q5M6", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-004"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-gray.png')});"}
    .info
      %h3 Gray Stripes
      %p= link_to "Buy Now", "http://he2.co/PN9X2B8U9E2", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-005"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-green.png')});"}
    .info
      %h3 Green Stripes
      %p= link_to "Buy Now", "http://he2.co/FI8T1X6O3Q8", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-009"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-rust.png')});"}
    .info
      %h3 Rust Stripes
      %p= link_to "Buy Now", "http://he2.co/HD3D6X6O3Q8", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-006"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-purple.png')});"}
    .info
      %h3 Purple Stripes
      %p= link_to "Buy Now", "http://he2.co/RI4H7B8U9E2", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-008"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-pink.png')});"}
    .info
      %h3 Salmon Stripes
      %p= link_to "Buy Now", "http://he2.co/BD5B8L0Q5M6", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-010"
  .product-variation{style:"background-image: url(#{asset_path('products/peruvian/strap-orange.png')});"}
    .info
      %h3 Orange Stripes
      %p= link_to "Buy Now", "http://he2.co/LY6V9F2C1A0", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add" => "PS-007"
