- content_for :title, "The Skinny Leather Guitar Strap | Original Fuzz"

%section.product-header
  .overlay{style:"background-image: url(#{asset_path('products/skinny/header.png')});"}
    .container
      .product-header-title
        %h1 The Skinny Strap
        .callouts
          Simple • Stylish • Made in USA
        %p We set out to make the simplest guitar strap possible. This thing is designed to get out of the way and let your instrument shine. No frills, just full-grain #{ link_to 'Horween', 'http://horween.com' } leather. You'll recognize the difference. Like a belt, this strap comes in preset sizes&#8212;short, medium, and long. Each size has three adjustable lengths and comes in four beautiful colors.
        %h1 $48
        %p= link_to "Choose Style", "#skinny", class: "btn btn-primary"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/1.jpg")}, (default)], [#{image_path("products/skinny/1-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/2.jpg")}, (default)], [#{image_path("products/skinny/2-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/3.jpg")}, (default)], [#{image_path("products/skinny/3-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/4.jpg")}, (default)], [#{image_path("products/skinny/4-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/5.jpg")}, (default)], [#{image_path("products/skinny/5-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}
      %li.slide
        %img{"data-interchange"=>"[#{image_path("products/skinny/6.jpg")}, (default)], [#{image_path("products/skinny/6-640.jpg")}, (small)]", alt: "Skinny leather guitar strap"}

%section.product-points
  .container
    .product-point
      .product-point-info
        %h3 Tailored to You
        %p We wanted to make a strap without all the extra loops and leather. You simply pick the size that fits you. Each size has three adjustable lengths. Most people will need a medium. We recommend buying a long strap if you're using it on an acoustic, if you're over 6' tall, or if like your guitar to hang low. The short size is perfect for smaller folks, teens, and children.
    .product-point
      .product-point-info
        %h3 Four Dope Colors
        %p Choose a color that highlights your instrument. The black strap would look killer with a black Rickenbacker bass. The brown will match any acoustic. The tan would look perfect with a sunburst Jaguar. And try the blue with a surf green Stratocaster. Between these four colors, we've got a lineup of straps that will fit any guitar or any occasion.
    .product-point
      .product-point-info
        %h3 Horween Leather
        %p #{ link_to 'Horween', 'http://horween.com' } leather is made in Chicago, IL. Ask any leather buff you know and they'll tell you about how Horween has been making some of the finest leathers in America since 1905. It's soft, full-grain leather that will feel great on your shoulder. You might be surprised at how comfortable this strap is. Just because it's skinny doesn't mean it won't feel great with your guitar.
    .product-point
      .product-point-info
        %h3 Made in the USA
        %p Every material and hour of labor that went into making this guitar strap is 100% USA&#8212;from the leather to the die cut to the logo stamp. It was cut and finished by our leather artisan in Wyoming. America is known for making quality, rugged leather products since our early days as a nation, and this guitar strap carries on that fine tradition.

%section.product-header#skinny
  .container
    %h2 Skinny Strap Styles
  .product-header-cable{style: "background-image: url(#{asset_path('products/skinny/brown.png')});"}
    .container
      .info
        %h3 Brown
        %p Classic brown. 100% full-grain leather by Horween. Made in the USA. 
        %p Choose from 3 sizes: short, medium, &amp; long. If you're of average height and want to hold a Stratocaster at your waist, then go with the medium. If you're larger or like your guitar to hang low, go with the long. If you're using it for an acoustic guitar, we recommend the long. The short size is ideal for smaller people and children.         
        %h1 $48
        %h4 Choose a Size:
        %p
          #{link_to "Short", "http://he2.co/GF0L6I9Y8Q8", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-001"}
          #{link_to "Medium", "http://he2.co/FT5L2I1K4E2", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-002"}
          #{link_to "Long", "http://he2.co/VI4B1I9Y8Q8", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-003"}
        %p Short: 36-40" • Medium: 40-46" • Long: 46-52"
  .product-header-cable{style: "background-image: url(#{asset_path('products/skinny/tan.png')});"}
    .container
      .info
        %h3 Tan
        %p Desert tan. 100% full-grain leather by Horween. Made in the USA. 
        %p Choose from 3 sizes: short, medium, &amp; long. If you're of average height and want to hold a Stratocaster at your waist, then go with the medium. If you're larger or like your guitar to hang low, go with the long. If you're using it for an acoustic guitar, we recommend the long. The short size is ideal for smaller people and children.
        %h1 $48
        %h4 Choose a Size:
        %p
          #{link_to "Short", "http://he2.co/HO0V7I1K4E2", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-007"}
          #{link_to "Medium", "http://he2.co/SK9X5U7I2I4", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-008"}
          #{link_to "Long", "http://he2.co/IF8T4Q5M6A0", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-009"}
        %p Short: 36-40" • Medium: 40-46" • Long: 46-52"
  .product-header-cable{style: "background-image: url(#{asset_path('products/skinny/blue.png')});"}
    .container
      .info
        %h3 Blue
        %p Chalk blue. 100% full-grain leather by Horween. Made in the USA.
        %p Choose from 3 sizes: short, medium, &amp; long. If you're of average height and want to hold a Stratocaster at your waist, then go with the medium. If you're larger or like your guitar to hang low, go with the long. If you're using it for an acoustic guitar, we recommend the long. The short size is ideal for smaller people and children. 
        %h1 $48
        %h4 Choose a Size:
        %p
          #{link_to "Short", "http://he2.co/MG3B1I9Y8Q8", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-010"}
          #{link_to "Medium", "http://he2.co/CR2N0U7I2I4", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-011"}
          #{link_to "Long", "http://he2.co/RE6X5U7I2I4", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-012"}
        %p Short: 36-40" • Medium: 40-46" • Long: 46-52"
  .product-header-cable{style: "background-image: url(#{asset_path('products/skinny/black.png')});"}
    .container
      .info
        %h3 Black
        %p Matte black. 100% full-grain leather by Horween. Made in the USA.
        %p Choose from 3 sizes: short, medium, &amp; long. If you're of average height and want to hold a Stratocaster at your waist, then go with the medium. If you're larger or like your guitar to hang low, go with the long. If you're using it for an acoustic guitar, we recommend the long. The short size is ideal for smaller people and children. 
        %h1 $48
        %h4 Choose a Size:
        %p
          #{link_to "Short", "http://he2.co/LT3N0U7I2I4", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-004"}
          #{link_to "Medium", "http://he2.co/BY2D9Q5M6A0", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-005"}
          #{link_to "Long", "http://he2.co/RT1Z8M3G0M6", class: "btn btn-primary btn-small", "data-cart-show"=>"1", "data-cart-add"=>"SL-006"}
        %p Short: 36-40" • Medium: 40-46" • Long: 46-52"