- content_for :title, "Solid Guitar Straps | Original Fuzz"

%section.product-header
  .overlay{style:"background-image: url(#{asset_path('products/solid/header.png')});"}
    .container
      .product-header-title
        %h1 The Solid Strap
        .callouts
          Classic • Simple • Durable • Tough
        %p A new classic. If you're looking for a simple, high-quality guitar strap, you've found it. Our strap feels great on your shoulder. We use tough leather and elegant, durable hardware. It's a new standard that complements any instrument.
        %h1 $35
        %p= link_to "Choose Style", "#solid", class: "btn btn-primary"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide= image_tag "products/solid/1.jpg"
      %li.slide= image_tag "products/solid/2.jpg"
      %li.slide= image_tag "products/solid/3.jpg"
      %li.slide= image_tag "products/solid/4.jpg"

%section.product-points
  .container
    .product-point
      .product-point-info
        %h3 Rugged Simplicity
        %p Sometimes you just need a simple, solid-color guitar strap. We use strong, cotton webbing that feels soft, yet substantial. It's all tied together with heavy-duty stitching and metal hardware that won't break. Pick a color and never worry about your strap again.
    .product-point
      .product-point-info
        %h3 Top-Grain Leather 
        %p Our leather comes from Le&oacute;n, Mexico. It's sewn by leather experts that know how to make products that stand up to abuse. We use top-grain leather in beautiful colors selected to match each strap color. Our leather wears over time to fit your guitar perfectly.
    .product-point
      .product-point-info
        %h3 Classic Hardware
        %p Our metal hardware gives this strap a classic finish reminiscent of the gear they made during the early years of of rock and roll. Because we're using a strong metal instead of plastic, you can rest easy knowing it's not going to break down or wear out. 
    .product-point
      .product-point-info
        %h3 Lifetime Guarantee
        %p This strap is made to last a long time. If it breaks or wears out from normal use, just send it back and we'll either fix it or replace it for you. But we're confident that you won't even need to do that. Don't expect us to replace it if you cut it in half with scissors or set it in on fire.

%section#solid.product-variations
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-tan.png')});"}
    .info
      %h3 Tan
      %p= link_to "Add To Cart", "http://he2.co/YQ2S6G0K4E2", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-001"
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-blue.png')});"}
    .info
      %h3 Navy
      %p= link_to "Add To Cart", "http://he2.co/DI5Y0G8Y8Q8", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-004"
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-black.png')});"}
    .info
      %h3 Black
      %p= link_to "Add To Cart", "http://he2.co/OF1I5G8Y8Q8", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-002"
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-brown.png')});"}
    .info
      %h3 Brown
      %p= link_to "Add To Cart", "http://he2.co/TD4E9S6I2I4", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-005"
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-green.png')});"}
    .info
      %h3 Green
      %p= link_to "Add To Cart", "http://he2.co/EQ0U4S6I2I4", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-003"
  .product-variation{style:"background-image: url(#{asset_path('products/solid/strap-white.png')});"}
    .info
      %h3 White
      %p= link_to "Add To Cart", "http://he2.co/JY3A8O4M6A0", class: "btn btn-primary", "data-cart-show"=>"1", "data-cart-add"=>"FS-006"
  
