- content_for :title, "The Fuzz Strap | Original Fuzz"

%section.product-header
  .container
    .product-header-title
      %h1 The Fuzz Strap
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %p= link_to "Buy Now", "#", class: "btn btn-primary"

%section.product-gallery
  .slider
    %ul.slides
      %li.slide= image_tag "products/solid/1.jpg"
      %li.slide= image_tag "products/solid/2.jpg"
      %li.slide= image_tag "products/solid/3.jpg"

%section.product-points
  .container
    .product-point
      .product-point-icon
        = image_tag "http://placehold.it/150x150"
      .product-point-info
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .product-point
      .product-point-icon
        = image_tag "http://placehold.it/150x150"
      .product-point-info
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .product-point
      .product-point-icon
        = image_tag "http://placehold.it/150x150"
      .product-point-info
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .product-point
      .product-point-icon
        = image_tag "http://placehold.it/150x150"
      .product-point-info
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

%section.product-variations
  .product-variation
    %h3 Dick Dale
    %p= link_to "Buy Now", "#", class: "btn btn-primary"
  .product-variation
    %h3 Dick Dale
    %p= link_to "Buy Now", "#", class: "btn btn-primary"
  .product-variation
    %h3 Dick Dale
    %p= link_to "Buy Now", "#", class: "btn btn-primary"
  .product-variation
    %h3 Dick Dale
    %p= link_to "Buy Now", "#", class: "btn btn-primary"
  .product-variation
    %h3 Dick Dale
    %p= link_to "Buy Now", "#", class: "btn btn-primary"