- content_for :title, "Become a Dealer"

%section.main
  .container
    .dealer-program
      %h1 Become an Authorized Dealer
      %p Join the Original Fuzz dealer program and get access to dealer pricing, exclusive deals, free shipping, and swag for your store.
      .one
        %h2 Benefits
        %ul
          %li Access to exclusive dealer deals and promotions
          %li Dealer pricing (lowest available)
          %li Original Fuzz guitar store swag (display cases, stickers, signage, picks, and more!)
      .one
        %h2 Requirements
        %ol
          %li Fill out our #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} form.
          %li Order 24 Peruvian Straps or 48 Solid Straps every three months.
          %li Activate your account on our dealer website (we'll send you a link to set up your account after you've completed our #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} form).
          %li Be sure to read our #{ link_to 'Dealer Terms and Conditions', 'https://originalfuzz.zendesk.com/hc/en-us/articles/200910528-Dealer-Program-Terms'} and note that you can't sell below the suggested retail price in any online channel (your website, Amazon, eBay, etc.), you must use Original Fuzz product photography or other photography approved in advance by Original Fuzz for all online listings, and you must compose your own product descriptions and copy for all online listings (e.g. don't scrape our website; it hurts both of us with search engines).                   
    .dealer-application
      %h2 Join Today
      %p Fill out our simple #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} and get started today. An account rep will get back to you in 1-2 business days. 
      %p= link_to "Apply Now", "https://originalfuzz.wufoo.com/forms/authorized-dealer-application/", class: "btn btn-primary"