- content_for :title, "Become a Dealer"

%section.main
  .container
    .dealer-program
      %h1 Become an Authorized Dealer
      %p Join the Original Fuzz dealer program and get access to dealer pricing, exclusive deals, free shipping, and swag for your store.
      .one
        %h2 Benefits
        %ul
          %li Access to exclusive dealer deals.
          %li Dealer pricing (lowest available).
          %li Free shipping with purchase of dealer product bundles (These are discounted bundles of guitar strap starter packs or bag/strap combo pack).
          %li Original Fuzz guitar store swag (display cases, stickers, signage, picks, and more!).
      .one
        %h2 Requirements
        %ol
          %li Fill out our #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} form.
          %li Active your account on our dealer website (we'll send you a link to set up your account after you've completed our #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} form).
          %li Order any item every 60 days to maintain your Authorized Dealer status.          
          %li Dealer pricing is only available to stores that purchase through our dealer website. We're happy to take orders over email or the phone, but you'll only be able to receive our standard wholesale pricing.
          %li Be sure to read our #{ link_to 'Dealer Terms and Conditions', 'https://originalfuzz.zendesk.com/hc/en-us/articles/200910528-Dealer-Program-Terms '} and note that you can't sell below the suggested retail price in any online channel (your website, Amazon, eBay, etc.), you must use Original Fuzz product photography or other photography approved in advance by Original Fuzz for all online listings, and you must compose your own product descriptions and copy for all online listings (e.g. don't scrape our website; it hurts both of us with search engines).                   
    .dealer-application
      %h2 Join Today
      %p Fill out our simple #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} and get started today. An account rep will get back to your in 1-2 business days. 
      %p= link_to "Apply Now", "https://originalfuzz.wufoo.com/forms/authorized-dealer-application/", class: "btn btn-primary"