- content_for :title, "Original Fuzz - Guitar Straps, Gear Bags, and Cables"

%section.brand-feature
  .brand-title
    = image_tag "type-home.png", alt: "Original Fuzz"

%section.product-feature{style:"background-image: url(assets/temp-home-peruvian.jpg);"}
  .product-feature-title
    .container
      %h2 Peruvian Straps
      %p The fabric for these straps is handwoven according to fair-trade guidelines in Peru. Each strap is as unique as the artisan that made it. Built with top-grain leather and antique-style hardware, these are some of the most beautiful guitar straps in the world.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature{style:"background-image: url(assets/temp-home-solid.jpg);"}
  .product-feature-title
    .container
      %h2 Solid Straps
      %p A new classic. If you're looking for a simple, high-quality guitar strap, you've found it. Our strap feels great on your shoulder. We use top-grain leather and elegant, durable hardware. It's a new standard that complements any instrument.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature{style:"background-image: url(assets/temp-home-cables.jpg);"}
  .product-feature-title
    .container
      %h2 Cables
      %p True to your tone. Our cables use high-quality, Japanese copper cable with retro connectors. Their perfectly balanced frequency response delivers shimmering highs and earth-shaking lows that stay true to your tone. Like all of our products, each cable comes with a lifetime guarantee.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature{style:"background-image: url(assets/temp-home-bag.jpg);"}
  .product-feature-title
    .container
      %h2 Fuzz Bag
      %p Your guitar gear finally has a home. The Fuzz Bag is a place to keep all of your guitar tools. It combines the comfortable aesthetic of a classic gym bag with a padded pedal case and custom pockets for everything else. It's road-tested by the musicians who designed it, and it's made with care.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"