- content_for :title, "Original Fuzz - Guitar Straps, Gear Bags, and Cables"

%section.brand-feature
  .brand-title
    = image_tag "type-home.png", alt: "Original Fuzz"
    
%section.product-features
  %section.product-feature.skinny
    .container
      .product-feature-shot
        %a{href:"/products/peruvian-straps"}
          = image_tag "home-skinny.jpg", alt: "Skinny Leather Guitar Straps"
      .product-feature-title
        %h2= link_to "Skinny Leather Straps", "/products/skinny-leather-guitar-strap"
        .callouts
          Stylish • Simply • Made in USA
        %p We've made the sleekest guitar strap imaginable with this strap. There are no adjustable loops or extra features. Just full-grain Horween leather in four gorgeous colors. Choose black, brown, tan, or blue. This strap gets out of the way and lets your instrument shine.
        %p.action
          = link_to "Learn More", "/products/skinny-leather-guitar-strap", class: "btn btn-primary"

  %section.product-feature.peruvian
    .container
      .product-feature-shot
        %a{href:"/products/peruvian-straps"}
          = image_tag "home-peruvian.jpg", alt: "The Peruvian Guitar Strap"
      .product-feature-title
        %h2= link_to "Peruvian Straps", "/products/peruvian-straps"
        .callouts
          Handwoven • Unique • Made in Peru • Responsibly-Sourced
        %p The fabric for these straps is handwoven according to fair-trade guidelines in Peru. Each strap is as unique as the artisan that made it. Built with top-grain leather and antique-style hardware, these are some of the most beautiful guitar straps in the world.
        %p.action
          = link_to "Learn More", "/products/peruvian-straps", class: "btn btn-primary"
  
  %section.product-feature.solid
    .container
      .product-feature-shot
        %a{href:"/products/solid-straps"}
          = image_tag "home-solid.jpg", alt: "The Solid Guitar Strap"
      .product-feature-title
        %h2= link_to "Solid Straps", "/products/solid-straps"
        .callouts
          Classic • Simple • Durable • Tough
        %p A new classic. If you're looking for a simple, high-quality guitar strap, you've found it. Our strap feels great on your shoulder. We use top-grain leather and elegant, durable hardware. It's a new standard that complements any instrument.
        %p.action
          = link_to "Learn More", "/products/solid-straps", class: "btn btn-primary"
  
  %section.product-feature.bag
    .container
      .product-feature-shot
        %a{href:"/products/fuzz-bag"}
          = image_tag "home-bags.jpg", alt: "The Fuzz Gear Bag for Guitar Players"
      .product-feature-title
        %h2= link_to "Fuzz Bag", "/products/fuzz-bag"
        .callouts
          Classic • Simple • Durable • Adaptable
        %p Your guitar gear finally has a home. The Fuzz Bag is a place to keep all of your guitar tools. It combines the comfortable aesthetic of a classic gym bag with a padded pedal case and custom pockets for everything else. It's road-tested by the musicians who designed it, and it's made with care.
        %p.action
          = link_to "Learn More", "/products/fuzz-bag", class: "btn btn-primary"
  
  %section.product-feature.cables
    .container
      .product-feature-shot
        %a{href:"/products/cables"}
          = image_tag "home-cables.jpg", alt: "Fuzz Instrument and Microphone Cables"
      .product-feature-title
        %h2= link_to "Cables", "/products/cables"
        .callouts
          High Fidelity • Balanced • Japanese Cabling • Retro Connectors
        %p True to your tone. Our cables use high-quality, Japanese cabling with retro connectors. Their perfectly balanced frequency response delivers shimmering highs and earth-shaking lows that stay true to your tone. Like all of our products, each cable comes with a lifetime guarantee.
        %p.action
          = link_to "Learn More", "/products/cables", class: "btn btn-primary"

  %section.product-feature.t-shirts
    .container
      .product-feature-shot
        %a{href:"/products/t-shirts"}
          = image_tag "home-t-shirts.jpg", alt: "Fuzz T-Shirts"
      .product-feature-title
        %h2= link_to "T-Shirts", "/products/t-shirts"
        .callouts
          Stylish • American Apparel • Screenprints
        %p Need to look great in a pinch? Grab an Original Fuzz tee! They're made from soft, 100% cotton, and because we use American Apparel, each shirt is guaranteed to be sweatshop free. They're screenprinted with care from the dedicated team at #{ link_to 'Fretto Prints', 'http://hellofretto.com/' } in St. Augustine, FL. Choose from two styles.
        %p.action
          = link_to "Learn More", "/products/t-shirts", class: "btn btn-primary"
