- content_for :title, "Original Fuzz - Guitar Straps, Gear Bags, and Cables"

%section.brand-feature
  .brand-title
    %h1 We Are Original Fuzz
    %p We bring quality design and craftsmanship to the gear guitar players depend on.

%section.brand-statement
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=PeruvianStraps", alt: "Feature"
  .product-feature-title
    %h1 Peruvian Straps
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=SolidStraps", alt: "Feature"
  .product-feature-title
    %h1 Solid Straps
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=Cables", alt: "Feature"
  .product-feature-title
    %h1 Cables
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=FuzzBag", alt: "Feature"
  .product-feature-title
    %h1 FuzzBag
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"