- content_for :title, "Original Fuzz - Guitar Straps, Gear Bags, and Cables"

%section.brand-feature
  .brand-title
    %h1 We Are Original Fuzz
    %p Quality design and craftsmanship for the gear guitar players depend on.

%section.brand-statement
  .container
    %p It's no secret that guitar players love their instruments, so it's a shame the rest of their gear doesn't inspire that kind of devotion. We've set out to change that with a line of road-tested accessories that come with a lifetime guarantee. We're Original Fuzz, and we're bringing quality design and craftsmanship to the gear guitar players depend on.

    %p Original Fuzz was created by musicians who have been lugging around cables, pedals, picks, and other gear since our hands were big enough to make a barre chord. We love vintage instruments, amps, and pedals, but were frustrated that there was nothing inspiring about all the other gear we use. So we created Original Fuzz.
		
    .bolt
      = image_tag "bolt.svg", alt: "Bolt", width: "24", height: "24"
%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=PeruvianStraps", alt: "Feature"
  .product-feature-title
    .container
      %h1 Peruvian Straps
      %p The fabric for these straps is handwoven according to fair-trade guidelines in Peru. Each strap is as unique as the artisan that made it. Built with top-grain leather and antique-style hardware, these are some of the most beautiful guitar straps in the world.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=SolidStraps", alt: "Feature"
  .product-feature-title
    .container
      %h1 Solid Straps
      %p A new classic. If you're looking for a simple, high-quality guitar strap, you've found it. Our strap feels great on your shoulder. We use top-grain leather and elegant, durable hardware. It's a new standard that complements any instrument.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=Cables", alt: "Feature"
  .product-feature-title
    .container
      %h1 Cables
      %p True to your tone. Our cables use high-quality, Japanese copper cable with retro connectors. Their perfectly balanced frequency response delivers shimmering highs and earth-shaking lows that stay true to your tone. Like all of our products, each cable comes with a lifetime guarantee.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=FuzzBag", alt: "Feature"
  .product-feature-title
    .container
      %h1 Fuzz Bag
      %p Your guitar gear finally has a home. The Fuzz Bag is a place to keep all of your guitar tools. It combines the comfortable aesthetic of a classic gym bag with a padded pedal case and custom pockets for everything else. It's road-tested by the musicians who designed it, and it's made with care.
      %p.action
        = link_to "Learn More", "/products/peruvianstraps", class: "btn btn-primary"