- content_for :title, "Original Fuzz - Guitar Straps, Gear Bags, and Cables"

%section.brand-feature
  = image_tag "temp-brand.jpg", alt: "Feature"
  .brand-title
    %h1 High-quality guitar accessories for musicians who appreciate craft
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=PeruvianStraps", alt: "Feature"
  .product-feature-title
    %h1 Peruvian Straps
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=SolidStraps", alt: "Feature"
  .product-feature-title
    %h1 Solid Straps
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=Cables", alt: "Feature"
  .product-feature-title
    %h1 Cables
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps"

%section.product-feature
  = image_tag "http://placehold.it/1000x400&text=FuzzBag", alt: "Feature"
  .product-feature-title
    %h1 FuzzBag
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.action
      = link_to "Learn More", "/products/peruvianstraps"