- content_for :title, "Press"

%section.main
  .container
    .press-info
      %h1 Press Information &amp; Resources
      .one
        %p Original Fuzz, launched in 2012 by Zach Lever and Lee McAlilly, is dedicated to making high-quality accessories for guitar players. College roommates, longtime friends, and musical co-conspirators, Zach and Lee have been playing guitar and recording music since their fingers were big enough to make a barre chord. Now they're designing great products for guitar players.
        %p Feel free to use the following materials in your publications. Should you require different versions or additional materials, contact us at #{mail_to "hello@originalfuzz.com"}. 
    .official-logos
      .one
        %h2 Official Logos
        %ul
          %li= link_to "PNG Logo", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/logo.png"
          %li= link_to "SVG Logo", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/logo.svg"
          %li= link_to "InDesign Logo", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/logo.indd"
          %li= link_to "Illustrator Logo", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/logo.ai"
          %li= link_to "Lightening Bolt", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/lightening_bolt.pdf"
          %li= link_to "Square Logos", "https://s3.amazonaws.com/original-fuzz/Press/public/brand-assets/sqaure_logo_variations.pdf"          
    .photos
      .one
        %h2 Photos 
        %ul
          %li= link_to "Founder Portraits", "https://s3.amazonaws.com/original-fuzz/Press/public/founder-portraits.zip"
          %li= link_to "Products in Action", "https://s3.amazonaws.com/original-fuzz/Press/public/action-shots.zip"
          %li= link_to "Peruvian Straps", "https://s3.amazonaws.com/original-fuzz/Press/public/products/peruvian-straps.zip"
          %li= link_to "Solid Straps", "https://s3.amazonaws.com/original-fuzz/Press/public/products/solid-straps.zip"
          %li= link_to "Skinny Leather Straps", "https://s3.amazonaws.com/original-fuzz/Press/public/products/skinny-straps.zip"
          %li= link_to "The Fuzz Bag", "https://s3.amazonaws.com/original-fuzz/Press/public/products/fuzz-bag.zip"
          %li= link_to "Cables", "https://s3.amazonaws.com/original-fuzz/Press/public/products/cables.zip"
    .press-releases
      .one
        %h2 Press Releases
        %ul
          %li= link_to "October 25, 2013", "https://s3.amazonaws.com/original-fuzz/Press/Press+Releases/Original_Fuzz_pre-sale_Press-Release_2013-10-25.pdf"
