- content_for :title, "Where To Find Original Fuzz Products"

%section.page-picture
  %section.main
    .container
      %section.where
        %hgroup
          %h1 Where To Find Us
          %p You can find Original Fuzz products in some of the best independent guitar stores in the country. If we're not in your town yet, #{ link_to 'get in touch', '/contact'} and let us know about your favorite guitar store.
        .where-state
          %h3 Florida
          .where-location
            %address
              %p
                %strong Guitars United
                %br
                11700 San Jose Blvd #11
                %br
                Jacksonville, FL 32223
            %dl
              %dt Phone
              %dd 904 268 0338
            %dl
              %dt Website
              %dd= link_to "www.guitarsunited.com", "http://www.guitarsunited.com"
          .where-location
            %address
              %p
                %strong Ronen School of Music
                %br
                1763 Geraldine Dr.
                %br
                Jacksonville, FL 32205
            %dl
              %dt Phone
              %dd 904 647 7957
            %dl
              %dt Website
              %dd= link_to "www.ronanschoolofmusic.com", "http://www.ronanschoolofmusic.com"
          .where-state
            %h3 Georgia
            .where-location
              %address
                %p
                  %strong Georgia's Music Warehouse
                  %br
                  2424 Abercorn St
                  %br
                  Savannah, GA 31401
              %dl
                %dt Phone
                %dd 912 358 0054
              %dl
                %dt Website
                %dd= link_to "www.cartervintage.com", "http://www.cartervintage.com"
          .where-state
            %h3 Tennessee
            .where-location
              %address
                %p
                  %strong Carter Vintage Guitars
                  %br
                  625 8th Ave S.
                  %br
                  Nashville, TN 37203
              %dl
                %dt Phone
                %dd 615 915 1851
              %dl
                %dt Website
                %dd= link_to "www.georgiamusicwarehouse.com", "http://www.georgiamusicwarehouse.com"