- content_for :title, "Where To Find Original Fuzz Products"

%section.page-picture
  %section.main
    .container
      %section.where
        %hgroup
          %h1 Where To Find Us
          %p You can find Original Fuzz products in some of the best independent guitar stores in the country. If we're not in your town yet, #{ link_to 'get in touch', '/contact'} and let us know about your favorite guitar store.
        .where-state
          %h3 Alabama
          .where-location
            %address
              %p
                %strong Fretted Instruments
                %br
                2906 Linden Ave
                %br
                Homewood, AL  35209
            %dl
              %dt Phone
              %dd 205 879 6489
            %dl
              %dt Website
              %dd= link_to "www.frettedinstruments.net", "http://www.frettedinstruments.net"          
          .where-location
            %address
              %p
                %strong Homewood Music
                %br
                3027 Central Ave
                %br
                Homewood, AL 35209
            %dl
              %dt Phone
              %dd 205 879 4868
            %dl
              %dt Website
              %dd= link_to "hmi.homewood.net", "http://hmi.homewood.net"
          .where-location
            %address
              %p
                %strong Highland Music
                %br
                3000 Clairmont Ave
                %br
                Birmingham, AL 35205
            %dl
              %dt Phone
              %dd 205 254 3288
            %dl
              %dt Website
              %dd= link_to "www.hlandmusic.com", "http://www.hlandmusic.com"
        .where-state
          %h3 California
          .where-location
            %address
              %p
                %strong Caveman Vintage Music
                %br
                650 N. Spring Street
                %br
                Los Angeles, CA 90012
            %dl
              %dt Phone
              %dd 213 625 9999
            %dl
              %dt Website
              %dd= link_to "www.caveman-vintage.com", "http://www.caveman-vintage.com"
          .where-location
            %address
              %p
                %strong Grayson's Tunetown
                %br
                2415 Honolulu Ave
                %br
                Montrose, CA 91020
            %dl
              %dt Phone
              %dd 818 249 0993
            %dl
              %dt Website
              %dd= link_to "www.graysonstunetown.com", "http://www.graysonstunetown.com"
          .where-location
            %address
              %p
                %strong McCabe's Guitar Shop
                %br
                3101 Pico Boulevard
                %br
                Santa Monica, CA 90405
            %dl
              %dt Phone
              %dd 310 828 4497
            %dl
              %dt Website
              %dd= link_to "www.mccabes.com", "http://www.mccabes.com"       
        .where-state
          %h3 Florida
          .where-location
            %address
              %p
                %strong Clark's Music Center
                %br
                5539 Roosevelt Blvd
                %br
                Jacksonville, FL 32244
            %dl
              %dt Phone
              %dd 904 738 7111
            %dl
              %dt Website
              %dd= link_to "www.clarksmusiccenter.com", "http://www.clarksmusiccenter.com"
          .where-location
            %address
              %p
                %strong Guitars United
                %br
                11700 San Jose Blvd #11
                %br
                Jacksonville, FL 32223
            %dl
              %dt Phone
              %dd 904 268 0338
            %dl
              %dt Website
              %dd= link_to "www.guitarsunited.com", "http://www.guitarsunited.com"
          .where-location
            %address
              %p
                %strong Deep Search Records
                %br
                822 Lomax St.
                %br
                Jacksonville, FL 32204
            %dl
              %dt Phone
              %dd 904 423 0969
            %dl
              %dt Website
              %dd= link_to "www.deepsearchrecords.com", "http://www.deepsearchrecords.com"
          .where-location
            %address
              %p
                %strong Music Ave
                %br
                3822 Sun City Center Blvd
                %br
                Sun City Center, FL 33573
            %dl
              %dt Phone
              %dd 813 633 9688
            %dl
              %dt Website
              %dd= link_to "www.mymusicavenue.com", "http://www.mymusicavenue.com"
          .where-location
            %address
              %p
                %strong Ronan School of Music
                %br
                1763 Geraldine Dr.
                %br
                Jacksonville, FL 32205
            %dl
              %dt Phone
              %dd 904 647 7957
            %dl
              %dt Website
              %dd= link_to "www.ronanschoolofmusic.com", "http://www.ronanschoolofmusic.com"
          .where-location
            %address
              %p
                %strong Total Entertainment
                %br
                501 W International Speedway Blvd
                %br
                Daytona Beach, FL 32114
            %dl
              %dt Phone
              %dd 386 254 8727
            %dl
              %dt Website
              %dd= link_to "www.tedaytona.com", "http://www.tedaytona.com"    
          
          .where-location
            %address
              %p
                %strong Wolfe Guitars
                %br
                2875 Jupiter Park Drive #400
                %br
                Jupiter, FL 33458
            %dl
              %dt Phone
              %dd 904 268 0338
            %dl
              %dt Website
              %dd= link_to "www.wolfeguitars.com", "http://www.wolfeguitars.com"
          .where-location
            %address
              %p
                %strong Guitar Nook
                %br
                14358 Biscayne Blvd
                %br
                North Miami Beach, FL 33181
            %dl
              %dt Phone
              %dd 904 647 7957
            %dl
              %dt Website
              %dd= link_to "www.theguitarnook.com", "http://www.theguitarnook.com"
          .where-location
            %address
              %p
                %strong Green Shift Music &amp; Comics
                %br
                5226 Nebraska Ave
                %br
                Tampa, FL 33603
            %dl
              %dt Phone
              %dd 813 238 4177
            %dl
              %dt Website
              %dd= link_to "www.greenshiftmusicandcomics.com", "http://www.greenshiftmusicandcomics.com"
          .where-location
            %address
              %p
                %strong Music Masters
                %br
                1114 N Monroe St
                %br
                Tallahassee, FL 32303
            %dl
              %dt Phone
              %dd 850 224 6158
            %dl
              %dt Website
              %dd= link_to "www.musicm.com", "http://www.musicm.com"            
          .where-state
            %h3 Georgia
            .where-location
              %address
                %p
                  %strong Atlanta Vintage Guitars
                  %br
                  9820 Hwy 92, Suite 110
                  %br
                  Woodstock, GA 30188
              %dl
                %dt Phone
                %dd 770 433 1891
              %dl
                %dt Website
                %dd= link_to "www.atlantavintageguitars.com", "http://www.atlantavintageguitars.com"
            .where-location
              %address
                %p
                  %strong Earthshaking Music
                  %br
                  648 McDonough Blvd SE
                  %br
                  Atlanta, GA 30315
              %dl
                %dt Phone
                %dd 404 577 0707
              %dl
                %dt Website
                %dd= link_to "www.earthshakingmusic.com", "http://earthshakingmusic.com"
            .where-location
              %address
                %p
                  %strong Maple Street Guitars
                  %br
                  3199 Maple Drive
                  %br
                  Atlanta, GA 30305
              %dl
                %dt Phone
                %dd 404 231 5214
              %dl
                %dt Website
                %dd= link_to "www.maplestreetguitars.com", "http://www.maplestreetguitars.com"
            .where-location
              %address
                %p
                  %strong Georgia Music Warehouse
                  %br
                  2424 Abercorn St
                  %br
                  Savannah, GA 31401
              %dl
                %dt Phone
                %dd 912 358 0054
              %dl
                %dt Website
                %dd= link_to "www.georgiamusicwarehouse.com", "http://www.georgiamusicwarehouse.com"
          .where-state
            %h3 Illinois
            .where-location
              %address
                %p
                  %strong Avenue N Guitars
                  %br
                  1823 W. North Ave
                  %br
                  Chicago, IL 60622
              %dl
                %dt Phone
                %dd 773 252 5580
              %dl
                %dt Website
                %dd= link_to "www.avenuenguitars.com", "http://www.avenuenguitars.com"
            .where-location
              %address
                %p
                  %strong Rock N Roll Vintage
                  %br
                  4740 N Lincoln Ave, Suite 2N
                  %br
                  Chicago, IL 60625
              %dl
                %dt Phone
                %dd 773 878 8616
              %dl
                %dt Website
                %dd= link_to "www.rocknrollvintage.com", "http://www.rocknrollvintage.com"
            .where-location
              %address
                %p
                  %strong Tommy's Guitar and Trading Post
                  %br
                  2548 West Chicago Ave
                  %br
                  Chicago, IL 60622
              %dl
                %dt Phone
                %dd 773 486 6768
              %dl
                %dt Website
                %dd= link_to "www.tommysguitars.com", "http://www.tommysguitars.com"
            .where-location
              %address
                %p
                  %strong 312 Vintage Guitars
                  %br
                  754 W 35th St
                  %br
                  Chicago, IL 60616
              %dl
                %dt Phone
                %dd 312 532 8436
              %dl
                %dt Website
                %dd= link_to "www.312vintageguitars.com", "http://www.312vintageguitars.com"
          .where-state
            %h3 Kentucky
            .where-location
              %address
                %p
                  %strong Guitar Emporium
                  %br
                  1610 Bardstown Rd
                  %br
                  Louisville, KY 40205
              %dl
                %dt Phone
                %dd 502 459 4153
              %dl
                %dt Website
                %dd= link_to "www.guitar-emporium.com", "http://www.guitar-emporium.com"          
          .where-state
            %h3 Mississippi
            .where-location
              %address
                %p
                  %strong Fondren Guitars
                  %br
                  607 Fondren Place
                  %br
                  Jackson, MS 39216
              %dl
                %dt Phone
                %dd 601 362 0313
              %dl
                %dt Website
                %dd= link_to "www.fondrenguitars.com", "http://www.fondrenguitars.com"                
            .where-location
              %address
                %p
                  %strong Austin's Music
                  %br
                  305 Heritage Dr.
                  %br
                  Oxford, MS 38655
              %dl
                %dt Phone
                %dd 662 236 1311
              %dl
                %dt Website
                %dd= link_to "facebook.com/AustinsMusicOxford", "https://www.facebook.com/AustinsMusicOxford"
            .where-location
              %address
                %p
                  %strong Tupelo Music
                  %br
                  1215 E Main Street
                  %br
                  Tupelo, MS 38804
              %dl
                %dt Phone
                %dd 662 842 1530
              %dl
                %dt Website
                %dd= link_to "www.tupelomusic.com", "http://www.tupelomusic.com"
          .where-state
            %h3 New York
            .where-location
              %address
                %p
                  %strong Main Drag Music
                  %br
                  330 Wythe Avenue
                  %br
                  Brooklyn, NY 11211
              %dl
                %dt Phone
                %dd 718 388 6365
              %dl
                %dt Website
                %dd= link_to "www.maindragmusic.com", "http://www.maindragmusic.com"
            .where-location
              %address
                %p
                  %strong Pentatonic Music
                  %br
                  139 Franklin St
                  %br
                  Brooklyn, NY 11222
              %dl
                %dt Phone
                %dd 347 599 2576
              %dl
                %dt Website
                %dd= link_to "www.pentatonicmusic.com", "http://www.pentatonicmusic.com"                
          .where-state
            %h3 North Carolina
            .where-location
              %address
                %p
                  %strong Griffin's Guitars
                  %br
                  107 S. Main Street
                  %br
                  Salisbury, NC  28144
              %dl
                %dt Phone
                %dd 704 798 5205
              %dl
                %dt Website
                %dd= link_to "www.griffinsguitars.com", "http://www.griffinsguitars.com"            
            .where-location
              %address
                %p
                  %strong Guru Guitars
                  %br
                  3104 Hillsborough Street
                  %br
                  Raleigh, NC 27607
              %dl
                %dt Phone
                %dd 919 833 6607   
              %dl
                %dt Website
                %dd= link_to "www.guruguitarshop.com", "http://www.guruguitarshop.com"
            
            .where-location
              %address
                %p
                  %strong Harry's Guitar Shop
                  %br
                  616 Glenwood Ave
                  %br
                  Raleigh, NC 27603
              %dl
                %dt Phone
                %dd 919 828 4888 
              %dl
                %dt Website
                %dd= link_to "www.harrysguitarshop.com", "http://www.harrysguitarshop.com"            
            .where-location
              %address
                %p
                  %strong The Music Loft of Greensboro
                  %br
                  929 N. Church Street
                  %br
                  Greensboro, NC 27401
              %dl
                %dt Phone
                %dd 336 378 1068  
              %dl
                %dt Website
                %dd= link_to "www.themusicloft.net", "http://www.themusicloft.net"
            .where-location
              %address
                %p
                  %strong Sound Pure
                  %br
                  732 Washington St
                  %br
                  Durham, NC 27701
              %dl
                %dt Phone
                %dd 919 794 7977  
              %dl
                %dt Website
                %dd= link_to "www.soundpure.com", "http://www.soundpure.com"
            .where-location
              %address
                %p
                  %strong Tempo Music Center
                  %br
                  244 N. Main Street
                  %br
                  Hendersonville, NC 28792
              %dl
                %dt Phone
                %dd 718 388 6365
              %dl
                %dt Website
                %dd= link_to "www.tempomusicwnc.com", "http://www.tempomusicwnc.com"
            .where-location
              %address
                %p
                  %strong Bluesmaster Guitars
                  %br
                  4125 Durham/Chapel Hill Blvd.
                  %br
                  Durham, NC 27707
              %dl
                %dt Phone
                %dd 919 477 9775
              %dl
                %dt Website
                %dd= link_to "www.bluesmasterguitars.com", "http://www.bluesmasterguitars.com"
          .where-state
            %h3 Ohio
            .where-location
              %address
                %p
                  %strong Bluegrass Musicians Supply
                  %br
                  1370 S. High St.
                  %br
                  Columbus, OH 43207
              %dl
                %dt Phone
                %dd 614 443 3558
              %dl
                %dt Website
                %dd= link_to "www.instrumentshopcolumbusoh.com", "http://www.instrumentshopcolumbusoh.com/"
            .where-location
              %address
                %p
                  %strong Guitar House Workshop
                  %br
                  1423 Chambers Rd
                  %br
                  Columbus, OH 43212
              %dl
                %dt Phone
                %dd 614 488 2477
              %dl
                %dt Website
                %dd= link_to "www.guitarhouseworkshop.com", "http://www.guitarhouseworkshop.com"
          .where-state
            %h3 South Carolina
            .where-location
              %address
                %p
                  %strong Mt. Pleasant Music
                  %br
                  918 Lansing Drive, Unit F
                  %br
                  Mt. Pleasant, SC 29464
              %dl
                %dt Phone
                %dd 843 849 1004
              %dl
                %dt Website
                %dd= link_to "www.mountpmusic.com", "http://mountpmusic.com"
            .where-location
              %address
                %p
                  %strong Shem Creek Music Center
                  %br
                  423-A W Coleman Blvd
                  %br
                  Mt. Pleasant, SC 29464
              %dl
                %dt Phone
                %dd 843 884 1346
              %dl
                %dt Website
                %dd= link_to "www.shemguitars.com", "http://www.shemguitars.com"
            .where-location
              %address
                %p
                  %strong Sims Music
                  %br
                  1110 St. Andrews Rd
                  %br
                  Columbia, SC 29210
              %dl
                %dt Phone
                %dd 803 772 1185
              %dl
                %dt Website
                %dd= link_to "www.simsmusic.com", "http://www.simsmusic.com"                
            .where-location
              %address
                %p
                  %strong Stella's Music Emporium
                  %br
                  325 Augusta Street
                  %br
                  Greenville, SC 29601
              %dl
                %dt Phone
                %dd 864 232 5221
              %dl
                %dt Website
                %dd= link_to "www.stellasme.com", "http://www.stellasme.com"
            .where-location
              %address
                %p
                  %strong Yellow Mama Music
                  %br
                  200 Spartanburg Hwy.
                  %br
                  Lyman, SC 29365
              %dl
                %dt Phone
                %dd 803 772 1185
              %dl
                %dt Website
                %dd= link_to "www.yellowmamamusicusa.com", "http://yellowmamamusicusa.com"
          .where-location
            %address
              %p
                %strong 5th String Music
                %br
                941 N Pleasantburg Dr
                %br
                Greenville, SC 29607
            %dl
              %dt Phone
              %dd 864 242 5428
            %dl
              %dt Website
              %dd= link_to "www.5thstringmusic.com", "http://5thstringmusic.com"
          .where-state
            %h3 Tennessee
            
            
            .where-location
              %address
                %p
                  %strong Memphis Guitar Spa
                  %br
                  4992 Verosa Avenue
                  %br
                  Memphis, TN 38117
              %dl
                %dt Phone
                %dd 850 766 3509
              %dl
                %dt Website
                %dd= link_to "www.memphisguitarspa.com", "http://www.memphisguitarspa.com"
            
            .where-location
              %address
                %p
                  %strong Yarbrough's Music
                  %br
                  6122 Macon Rd.
                  %br
                  Memphis, TN 38134
              %dl
                %dt Phone
                %dd 901 761 0414
              %dl
                %dt Website
                %dd= link_to "www.yarbroughsmusic.com", "http://www.yarbroughsmusic.com"
            .where-location
              %address
                %p
                  %strong Carter Vintage Guitars
                  %br
                  625 8th Ave S.
                  %br
                  Nashville, TN 37203
              %dl
                %dt Phone
                %dd 615 915 1851
              %dl
                %dt Website
                %dd= link_to "www.cartervintage.com", "http://www.cartervintage.com"
            .where-location
              %address
                %p
                  %strong Fanny's House of Music
                  %br
                  1101 Holly Street
                  %br
                  Nashville, TN 37206
              %dl
                %dt Phone
                %dd 615 750 5746
              %dl
                %dt Website
                %dd= link_to "www.fannyshouseofmusic.com", "http://www.fannyshouseofmusic.com"
            .where-location
              %address
                %p
                  %strong Rock Block Guitars
                  %br
                  2113 Elliston Pl
                  %br
                  Nashville, TN 37203
              %dl
                %dt Phone
                %dd 615 321 0317
              %dl
                %dt Website
                %dd= link_to "www.rockblockguitars.net", "http://www.rockblockguitars.net"              
          .where-state
            %h3 Virginia
            .where-location
              %address
                %p
                  %strong Fan Guitar and Ukulele
                  %br
                  1308 W Main Street
                  %br
                  Richmond, VA 23220
              %dl
                %dt Phone
                %dd 804 254 4600
              %dl
                %dt Website
                %dd= link_to "www.fanguitarandukulele.com", "http://www.fanguitarandukulele.com"